<h1>O mnie</h1>
<p>Nazywam się <strong>Mirosław Szul</strong> i jestem początkującym programistą Ruby on Rails. Na potrzeby zdobywania wiedzy w tym zakresie tworzę m.in. tą aplikację, 
która zawiera kopię funkcjonalności serwisu Pinterest.</p>